<ion-header>
  <ion-navbar>
    <ion-title>
      User Registration Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      User Registration
    </ion-list-header>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="user.name" required #name="ngModel" class="form-control"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input [(ngModel)]="user.city"></ion-input>
    </ion-item>
    <button (click)="postUser()" ion-button color="primary" full round [disabled]="name.invalid">Submit</button>
    <ion-list-header>
      User List
    </ion-list-header>
    <button ion-item *ngFor="let usr of users" (click)="presentConfirm(usr)"> 
      {{usr.name}}
      <p>{{usr.city}}</p>
    </button>
  </ion-list>
</ion-content>